<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edxavier.childgrowthstandards">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".NewChild" />
        <activity
            android:name=".NewHistoryRecord"
            android:label="@string/title_activity_new_history_record"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PercentilesActivity"
            android:label="@string/title_activity_percentiles"
            android:theme="@style/AppTheme" />
        <activity android:name=".MyPreferencesActivity" />
        <activity android:name=".HelpActivity" />
        <activity
            android:name=".LaunchPercentil"
            android:label="@string/title_activity_percentiles"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MeasuresList" />

    </application>

</manifest>